<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>c3440255d8684577b5b0</string>
	<key>UIAppFonts</key>
	<array>
		<string>ReadexPro-ExtraLight.ttf</string>
		<string>ReadexPro-Bold.ttf</string>
		<string>ReadexPro-Light.ttf</string>
		<string>ReadexPro-SemiBold.ttf</string>
		<string>ReadexPro-Medium.ttf</string>
		<string>ReadexPro-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
